<h1>Editing medicament authorization</h1>

<%= render "form", medicament_authorization: @medicament_authorization %>

<br>

<div>
  <%= link_to "Show this medicament authorization", @medicament_authorization %> |
  <%= link_to "Back to medicament authorizations", medicament_authorizations_path %>
</div>
