<%= render layout: "layouts/positioner", locals: { title: "Autorizacíon de Medicamentos" } do %>
  <div id="appointments" class="uk-margin-medium-bottom">
    <% @medicament_authorizations.each do |medicament_authorization| %>
      <div id="<%= dom_id medicament_authorization %>" class="uk-card uk-margin-top">
        <div class="uk-card-body">
          <%= render medicament_authorization %>
        </div>
        <% if medicament_authorization.status == 0 %>
          <div class="uk-card-footer uk-flex uk-flex-right">
            <%= link_to "Autorizar Medicamento", 
              medicament_authorizations_authorize_path(medicament_authorization.id), 
              method: :put,
              data: { turbo_method: :put },
              class: "uk-button uk-button-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>