<h1>New medicament authorization</h1>

<%= render "form", medicament_authorization: @medicament_authorization %>

<br>

<div>
  <%= link_to "Back to medicament authorizations", medicament_authorizations_path %>
</div>
