<h1>Editing patient profile</h1>

<%= render "form", patient_profile: @patient_profile %>

<br>

<div>
  <%= link_to "Show this patient profile", @patient_profile %> |
  <%= link_to "Back to patient profiles", patient_profiles_path %>
</div>
