<table class="uk-table">
  <caption>
    <%= test.title %>
  </caption>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Fecha y Hora</th>
      <th>Resultados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= "#{test.doctor.names} #{test.doctor.last_names}" %>
      </td>
      <td>
        <%= I18n.l(test.date_time, format: :long) %>
      </td>
      <td>
        <%= test.results %> <br/>
      </td>
    </tr>
  </tbody>
</table>
