<%= render layout: "layouts/positioner", locals: { title: "Detalle" } do %>
  <div id="<%= dom_id @test %>" class="uk-card">
    <div class="uk-card-body">
      <%= render @test %>
    </div>
    <div class="uk-card-footer uk-flex uk-flex-left">
      <%= link_to "Regresar", tests_path, class: "uk-button uk-button-default" %>
    </div>
  </div>
<% end %>
